table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #080000;
    padding: 8px;
}
th {
    background-color: #575252;
    color: #f0ebeb;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #ddd;
}